<h2>All users</h2>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= gravatar_for user, :size => 30 %>
			<%= link_to h(user.name), user %>
		</li>
	<% end %>
</ul>

<%= will_paginate %>